<div class="fullnews card col-sm-8 col-sm-offset-2 full-news">

	<div class="col-sm-8 col-sm-offset-1">
		<p class="title">{{newsItem.title}}</p>
		<p  class="summary">{{newsItem.summary}}</p>
		<p  class="text">{{newsItem.text}}</p>
		<div class="col-sm-3"><a href="/#newsfeed">Hide</a></div>
		<div class="col-sm-9 author">By {{newsItem.author}} | {{newsItem.date}}</div>
	</div>
	<div class="col-sm-3">
		<div class="theme">Theme:{{newsItem.theme}}</div>
		<div>Tag:{{newsItem.tag}}</div>
	</div>
	<div class="col-sm-3 col-sm-offset-10 view-button fullnews" ng-if="role == 'user'">
		<h3 class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="openEditNewsModal()"></h3>
		<h3 class="glyphicon glyphicon-remove"
		    aria-hidden="true"
		    id="{{(x).id}}"
		    ng-click="openDeleteNewsModal($index)"></h3>
	</div>

</div>

