<div class="jumbotron col-md-8 col-md-offset-2 full-news">
	<div class="col-md-4">
		<img src="src/Screenshots/pic1.jpg" class="col-md-12">
		<div>Theme:{{newsItems.theme}}</div>
		<div>Tag:{{newsItems.tag}}</div>
	</div>
	<div class="col-md-8">
		<h2>{{newsItems.title}}</h2>
		<p><b>{{newsItems.summary}}</b></p>
		<p>{{newsItems.text}}</p>
		<span class="col-md-8"><a href="?#!/newsfeed">Hide</a></span>
		<span class="text-right">By {{newsItems.author}} | {{newsItems.time}}</span>
	</div>

	<div class=" col-md-offset-9 view-button" ng-show="role == 'user'">
		<!--<h3 class="glyphicon glyphicon-ok-sign" aria-hidden="true" ng-click="savePendingNews()"></h3>-->
		<h3 class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="openEditPendingNewsModal()"></h3>
		<h3 class="glyphicon glyphicon-remove" aria-hidden="true" id="{{(x+i).id}}" ng-click="deleteNewsItem($event)"></h3>
	</div>

</div>

