<div class="row">
	<div class="col-sm-2 col-sm-offset-5">
		<nav aria-label="...">
			<ul class="pagination">
				<li><a aria-label="Previous" ng-click="pagination.goPrevious()"><span>&laquo</span></a></li>
				<li class="active"><span>{{pagination.currentPage}}</span></li>
				<li><a aria-label="Next" ng-click="pagination.goNext()"><span aria-hidden="true">&raquo</span></a></li>
			</ul>
		</nav>
	</div>
	<div class="col-sm-2 col-sm-offset-3">
		<label class="label label-primary"></label><span id="totalCount"></span>
	</div>
</div>