<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<nav aria-label="...">
			<ul class="pagination">
				<!--<li  class="disabled">-->
					<li><a aria-label="Previous" ng-click="goPrevious()"><span
					aria-hidden="true">&laquo</span></a></li>
				<li class="active"><span>1</span></li>
				<li><a aria-label="Next" ng-click="goNext()"><span aria-hidden="true" >&raquo</span></a></li>
			</ul>
		</nav>
	</div>
	<div class="col-md-2 col-md-offset-3">
		<label class="label label-primary"></label><span id="totalCount"></span>
	</div>
</div>