<div ng-controller="deleteUserModalCtrl as $ctrl" class="modal-demo">
	<div class="modal-header">
           <span class="modal-title" id="modal-title">
	          <h3> <a href="">Delete user</a>
	          </h3>
           </span>
	</div>
	<div class="modal-body" id="modal-body">
		<p>Delete selected user?</p>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="$ctrl.deleteUser()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="$ctrl.closeModal()">Cancel</button>
		</div>
	</div>
</div>
