<div class="modal-demo">

	<div class="modal-header">
           <span class="modal-title" id="modal-title">
	           <a href="" id="logInTitle" ng-click="profile.openLogInModal()"><h3>Log in</h3></a>
               <a href="" id="signUpTitle" ng-click="profile.openSignUpModal()">Sign up</a></span>
	</div>

	<div id="logInModalBodyId" ng-show="profile.openLogIn">
		<div class="modal-body">
			<form ng-submit="profile.logIn()">
				<div class="form-group">
					<label>Log in or email</label>
					<input type="email" class="form-control" placeholder="Email" required ng-model="profile.login.email"/>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password"
					       class="form-control"
					       placeholder="Password"
					       required
					       ng-model="profile.login.password"/>
				</div>
				<div class="modal-footer"><a href="" ng-click="profile.forgotPassword()">Forgot password?</a>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Log in"/>
				</div>
			</form>
		</div>
	</div>


	<div id="signUpModalBodyId" ng-show="profile.openSignUp">
		<div class="modal-body">
			<form ng-submit="profile.signUp()">
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" placeholder="Email" ng-model="profile.signUp.email"required/>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" ng-model="profile.signUp.password" required/>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Sign up"/>
				</div>
			</form>
		</div>
	</div>
</div>

