.card {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: gainsboro;
	max-height: 200px;
}

.fullnews.card {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: gainsboro;
	max-height: none;
}

.theme {
	margin-top: 150px;
}

.title {
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	color:black;
}

.summary {
	font-size: 16px;
	font-weight: bold;
}

.text {
	font-weight: 200;
}

.author {
	position: relative;
	margin-top: 16px;
	bottom: 20px;
	text-align: right;
}

.view-button {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	right:20px;
}

.view-button.fullnews {
	position: relative;
	z-index: 10;
	margin-bottom: 20px;
}

