
<!--<div class="input-group col-md-8 col-md-offset-3">-->
<!--<form class="form-inline">-->
<!--<div class="form-group">-->
<!--<span class="glyphicon glyphicon-search input-button"-->
<!--ng-show="!searchInput"></span>-->
<!--<span class="glyphicon glyphicon-remove input-button"-->
<!--ng-show="searchInput"></span>-->
<!--<input id="searchUserInput"-->
<!--class="form-control"-->
<!--type="text"-->
<!--autocomplete="off"-->
<!--ng-model="searchInput"-->
<!--placeholder="Start typing user's name"-->
<!--ng-keyup="searchUser()"-->
<!--&gt;-->


<div class="input-group">
<form class="form-inline">
<div class="form-group">
<span class="glyphicon glyphicon-search input-button" ng-show="!searchInput"></span>
<span class="glyphicon glyphicon-remove input-button" ng-show="searchInput"></span>
<input id="searchInput" class="form-control" type="text" autocomplete="off"
ng-model="searchInput" placeholder="Type query" ng-keyup="searchTitle()">
<!--&lt;!&ndash;Dropdown with searchResults&ndash;&gt;-->
<!--<searchdropdown></searchdropdown>-->
</div>
</form>
</div>
<!--&lt;!&ndash;Dropdown with searchResults&ndash;&gt;-->
<!--<searchdropdown></searchdropdown>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<div ng-show="searchResults" ng-click="hideDropdown()">
	<ul class="custom-dropdown">
		<form class="form-inline">
			<li class="form-group col-md-3 col-md-offset-1"><input type="checkbox" ng-click="selectFilter()">Date</li>
			<li class="form-group col-md-3 col-md-offset-1"><input type="checkbox" ng-click="selectFilter()">Author</li>
			<li class="form-group col-md-3 col-md-offset-1"><input type="checkbox" ng-click="selectFilter()">Tag</li>
			<div ng-if="author != 'Paul Smith' ">
				<li ng-repeat="x in records track by $index">{{x}}</li>
			</div>
			<li class="col-md-offset-6" ng-click="searchInput=''"><a ng-href="/#!/newsfeed/searchResults/news">Go to
				search results</a></li>
			<div ng-if="author == 'Paul Smith' ">
				<li ng-repeat="x in records track by $index">{{x}}</li>
			</div>
			<!--<li class="col-md-offset-6" ng-click="searchInput=''"><a ng-href="/#!/newsfeed/searchResults/myNews">Go to-->
				search results in my news</a></li>
		</form>
	</ul>
</div>