.pending-user {
	border: 5px solid yellow;
	list-style: none;
}

.remove-button {
	top: -10px;
	float: right;
}

.add-button {
	position: fixed;
	bottom: 60px;
	right: 50px;
	z-index: 1000;
}

.add-button-size {
	font-size: 50px;
}

.profile-buttons {
	color: white;
	position: absolute;
}

.footer {
	color: #9d9d9d;
}

.pagination {
	position: absolute;
	bottom: -40px;
	z-index: 1000;
}