<div class="modal-demo">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Edit news</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<form class="form-horizontal" ng-submit="editNews.saveNews()">
			<div class="form-group">
				<label class="col-sm-2">Title*</label>
				<div class="col-sm-10"><input type="text"
				                              class="form-control"
				                              required
				                              ng-model="editNews.editNewsItem.title"/></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Author*</label>
				<div class="col-sm-10"><input id="newsItemAuthor"
				                              type="text"
				                              class="form-control"
				                              required
				                              ng-model="editNews.editNewsItem.author"/></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Summary* max 175 characters</label>
				<div class="col-sm-10"><input class="form-control" required ng-model="editNews.editNewsItem.summary"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Tag</label>
				<div class="col-sm-10"><input type="text" class="form-control" ng-model="editNews.editNewsItem.tag"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Text</label>
				<div class="col-sm-10">
					<textarea rows="15" class="form-control" ng-model="editNews.editNewsItem.text" required>{{editNews.newsItem.text}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary col-sm-offset-10" value="Save"/>
			</div>
		</form>
	</div>
</div>