<div class="input-group col-md-6 col-md-offset-3">
	<form class="form-inline">
		<div class="form-group">
								<span class="glyphicon glyphicon-search input-button"
								      ng-show="!searchInput"></span>
								<span class="glyphicon glyphicon-remove input-button"
								      ng-show="searchInput"></span>
			<input id="searchUserInput"
			       class="form-control"
			       type="text"
			       autocomplete="off"
			       ng-model="searchInput"
			       placeholder="Start typing a title"
			       ng-keyup="searchUser()"
			>
			<!--&lt;!&ndash;Dropdown with searchResults&ndash;&gt;-->
			<!--<searchdropdown></searchdropdown>-->
		</div>
	</form>
</div>

<br>

<div ng-repeat="x in users">
<div class="col-md-8 col-md-offset-2">
	<ul>
		<li class="form-control">
			<span class="col-md-2">{{(x+i).date}}</span>
			<span class="col-md-3">{{(x+i).name}}</span>
			<span class="col-md-4">{{(x+i).email}}</span>
			<span class="col-md-2">{{(x+i).status}}</span>
			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ng-click="addPendingUser()"></span>
			<span class="glyphicon glyphicon-remove" aria-hidden="true"  ng-click="openProfileModal()"></span>
		</li>

	</ul>
</div>
	<!--Dropdown with searchResults-->
	<div id="searchDropdown">
		<searchdropdown></searchdropdown>
	</div>

</div>

