<div class="page-header">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button"
				        class="navbar-toggle collapsed"
				        data-toggle="collapse"
				        data-target="#bs-example-navbar-collapse-1"
				        aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NewsFeed</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-right">
					<div class="input-group">
						<form class="form-inline" role="form" name="searchForm">
							<div class="form-group has-feedback">
								<label class="control-label"></label>
								<input type="text" class="form-control" name="myName">

								<span class="glyphicon glyphicon-search form-control-feedback"></span>
								<!--<span class="glyphicon glyphicon-remove removeSearchButton" ng-show="searchTerm"></span>-->
								<span class="glyphicon glyphicon-remove removeSearchButton"
								      ng-show="searchForm.myName.$touched"></span>
							</div>
						</form>

						<!-- Button and dropdown menu -->
					<span class="dropdown">
						<button class="btn btn-default dropdown-toggle"
						        type="button"
						        data-toggle="dropdown"
						        aria-haspopup="true"
						        aria-expanded="true">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">Date</a></li>
				<li><a href="#">Theme</a></li>
   			<li><a href="#">Tag</a></li>

						</ul>
					</span>
					<span class="dropdown">
						<!--Hidden button if unregistered-->

							<span class="btn glyphicon glyphicon-bell dropdown-toggle profileButtons" type="button"
							      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
						<ul class="dropdown-menu">
							<li><b>News</b></li>
							<li><a href="/?#!/newsfeed">Go to pending news page</a></li>
				<li><b>Users</b></li>
							<li><a href="/?#!/newsfeed/usersList">Go to users page</a></li>
							<li><a href="/?#!/newsfeed">Go to myNews page</a></li>
						</ul>
					</span>

							<span class=" btn glyphicon glyphicon-user dropdown-toggle profileButtons"
							      data-toggle="dropdown"
							      aria-haspopup="true"
							      aria-expanded="true"
							      aria-hidden="true"></span>

						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-click="(role=='user'||role=='admin')?openEditProfileModal():openProfileModal()"><a
								href="#">Profile</a></li>
							<li ng-click="signOut()"><a href="#">Sign out</a></li>
						</ul>
						</span>

					</div>
					<span id="exclamationSignIconId" ng-show="alerts"
					      class="glyphicon glyphicon-exclamation-sign"
					      aria-hidden="true"></span>
					<span id="kingIconId"
					      ng-show="role=='admin'"
					      class="glyphicon glyphicon-king"
					      aria-hidden="true"></span>
				</form>
				<ul class="nav navbar-nav  col-md-12">
					<li class="active col-md-2"><a href="#">Top stories <span class="sr-only">(current)</span></a></li>
					<li class="col-md-2"><a href="#">World</a></li>
					<li class="col-md-2"><a href="#">Belarus</a></li>
					<li class="col-md-2"><a href="#">Business</a></li>
					<li class="col-md-2"><a href="#">Entertainment</a></li>
					<li class="col-md-2"><a href="#">Sports</a></li>
				</ul>
			</div>
		</div>
	</nav>



