<div class="page-header" ng-click="hideDropdown()">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button"
				        class="navbar-toggle collapsed"
				        data-toggle="collapse"
				        data-target="#bs-example-navbar-collapse-1"
				        aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">NewsFeed</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-right">
					<!--<div class="input-group">-->
						<!--<form class="form-inline">-->
							<!--<div class="form-group">-->
								<!--<span class="glyphicon glyphicon-search input-button"-->
								      <!--ng-show="!searchInput"></span>-->
								<!--<span class="glyphicon glyphicon-remove input-button"-->
								      <!--ng-show="searchInput"></span>-->
								<!--<input id="searchInput"-->
								       <!--class="form-control"-->
								       <!--type="text"-->
								       <!--autocomplete="off"-->
								       <!--ng-model="searchInput"-->
								       <!--placeholder="Start typing a title"-->
								       <!--ng-keyup="searchTitle()"-->
								<!--&gt;-->
								<!--&lt;!&ndash;&lt;!&ndash;Dropdown with searchResults&ndash;&gt;&ndash;&gt;-->
								<!--&lt;!&ndash;<searchdropdown></searchdropdown>&ndash;&gt;-->
							<!--</div>-->
						<!--</form>-->
					<!--</div>-->


					<!--Dropdown with searchResults-->
					<span id="searchDropdown" class="form-inline">
					<searchdropdown></searchdropdown>
					</span>



						<!--Hidden buttons if unregistered-->
					<span class="dropdown">
							<span class="btn glyphicon glyphicon-chevron-down dropdown-toggle profile-buttons"
							      type="button"
							      data-toggle="dropdown"
							      aria-haspopup="true"
							      aria-expanded="true"></span>
						<ul class="dropdown-menu">
							<li><a ng-href="/#!/newsfeed">Go to news page</a></li>
							<li><a ng-href="/#!/newsfeed/usersList">Go to users page</a></li>
							<li><a ng-href="/#!/newsfeed/myNews">Go to myNews page</a></li>
						</ul>
					</span>


					<span class="dropdown">
							<span class="btn glyphicon glyphicon-bell dropdown-toggle profile-buttons" type="button"
							      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
						<ul class="dropdown-menu">
							<li><a href="/?#!/newsfeed">News</a></li>
				            <li><a href="/?#!/newsfeed/usersList">Users</a></li>
						</ul>
					</span>

							<span class=" btn glyphicon glyphicon-user dropdown-toggle profile-buttons"
							      data-toggle="dropdown"
							      aria-haspopup="true"
							      aria-expanded="true"
							      aria-hidden="true"></span>

						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li ng-click="(role=='user'||role=='admin')?openEditProfileModal():openProfileModal()"><a
								href="#">Profile</a></li>
							<li ng-click="signOut()"><a href="#">Sign out</a></li>
						</ul>

						<div id="exclamation-sign-icon" ng-show="alerts"
						     class="glyphicon glyphicon-exclamation-sign"
						     aria-hidden="true"></div>
						<div id="king-icon"
						     ng-show="role=='admin'"
						     class="glyphicon glyphicon-king"
						     aria-hidden="true"></div>


				</form>
				<ul class="nav navbar-nav  col-md-12">
					<li class="active col-md-2"><a href="#">Top stories <span class="sr-only">(current)</span></a></li>
					<li class="col-md-2"><a href="#">World</a></li>
					<li class="col-md-2"><a href="#">Belarus</a></li>
					<li class="col-md-2"><a href="#">Business</a></li>
					<li class="col-md-2"><a href="#">Entertainment</a></li>
					<li class="col-md-2"><a href="#">Sports</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Dropdown with searchResults-->
	<!--<div id="searchDropdown">-->
		<!--<searchdropdown></searchdropdown>-->
	<!--</div>-->
</div>